.navlist{
    list-style: none;
}
.heading{
    text-decoration: none;
    color: black;
    margin-top: 10px;
}
.topnav a{
    float: left;
    text-align: center;
    padding:  20px 20px;
    text-decoration: none;
    font-size: 17px;
    color: black;
    margin-left: 50px;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;

}
.topnav a:hover{
    color: blue;
}
.topnav{
    overflow: hidden;
}
.Main{
    padding: 10px, 30px;
    float: left;
    font-size: 25px;
    text-align: center;
    margin-left: 30px;
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
}
.title{
    margin-left: 15px;
    margin-top: 10px;
}
.button1{
    color:white;
    background-color:#a60c00;
    padding: 12px 19px;
    display: inline-block;
    text-align: center;
    margin-left: 180px;
    margin-top: 12px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    border-radius:7px;
    border:none;
    box-shadow: 3px 3px 5px grey;
}
.section1{
    background-color:black;
    padding: 100px;
    margin-top: 0px;

}
img{
    position: relative;
}

.intro_section1{
    font-family: 'Roboto', sans-serif;
    text-align: left;
    margin-top: 0px;
    font-size: 50px;
    color: #f1f1f1;
    margin-left: 10px;
    margin-left: 50px;
}

.section1_content{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: white;
    margin-left: 50px;

}

.button2{
    color:black;
    background-color:#f1f1f1;
    padding: 20px 19px;
    display: inline-block;
    text-align: center;
    margin-left: 50px;
    margin-top: 12px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    border-radius: 7px;
    color: #290f0f;
    border: none;
}

.button2:hover{
    background-color: #af0a0a;
    color: #f5f5f5;
}

.button3{
    color:black;
    padding: 20px 19px;
    display: inline-block;
    text-align: center;
    margin-left: 20px;
    margin-top: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    border-radius: 7px;
    color: #f5f5f5;
    background-color: #000000;
    border: 2px solid #f1f1f1;
}

.button3:hover{
    background-color: black;
    border-color: #1d1b1b;
}


.intro_section2{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 10px;
    font-size: 40px;
    padding: 100px;
}
*{
    box-sizing: border-box;
}
.column{
    float: left;
    width: 33.33%;
    height: 200px;
}
h2{
    text-align: center;
    font-size: 70px;
    color: maroon;
    font-family: 'Roboto', sans-serif;
}
.col1{
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
}
.col2{
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
}
.col3{
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
}
.pic{
    border-radius: 50%;
    box-shadow: 0px 0px 12px 8px #ffccff;
    position: relative;
    margin-left: 160px;
}
.header{
    font-size: 40px;
    text-align: center;
    margin-top: 60px;
    font-family: 'Roboto', sans-serif;
}
.content{
    font-size: 25px;
    margin-top: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.list{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-right: 800px;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
}
.options{
    margin-top: -15px;
    text-align: center;
    margin-right: 735px;
    font-family: 'Roboto', sans-serif;
}
.options select{
    width: 220px;
    height: 50px;
    font-size: 20px;
}
.select-items{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}
.reset{
    color: white;
    background-color: black;
    padding: 10px 25px;
    font-size: 17px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    float: right;
    margin-right: -400px;
    margin-top: 13px;
}
.col4{
    background-color: black;
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
    height: 400px;
    font-family: 'Roboto', sans-serif;
}
.col5{
    background-color: black;
    text-align: center;
    margin-left:5px;
    font-size: 20px;
    margin-top: 50px;
    height: 400px;
    font-family: 'Roboto', sans-serif;
}
.col6{
    background-color: black;
    text-align: center;
    font-size: 20px;
    margin-left:5px;
    margin-top: 50px;
    height: 400px;
    font-family: 'Roboto', sans-serif;
}
h3{
    text-align: center;
    font-size: 50px;
    color:white;
    font-family: 'Roboto', sans-serif;
}
h4{
    text-align:center;
    font-size:30px;
    margin-left: 25px;
    margin-bottom: 100px;
    color: maroon;
    font-family: 'Roboto', sans-serif;
}

.button4{
    color:white;
    background-color:#a60c00;
    padding: 12px 19px;
    display: inline-block;
    text-align: center;
    margin-left: 180px;
    margin-top: 12px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    border-radius:7px;
    border:none;
    box-shadow: 3px 3px 5px grey;
}

.button5{
    color:white;
    background-color:#a60c00;
    padding: 12px 19px;
    display: inline-block;
    text-align: center;
    margin-left: 180px;
    margin-top: 12px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    border-radius:7px;
    border:none;
    box-shadow: 3px 3px 5px grey;
}

.button6{
    color:white;
    background-color:#a60c00;
    padding: 12px 19px;
    display: inline-block;
    text-align: center;
    margin-left: 180px;
    margin-top: 12px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    border-radius:7px;
    border:none;
    box-shadow: 3px 3px 5px grey;
}
.column1{
    background-color: black;
    float: left;
    width: 33.33%;
    height: 200px;
    text-align: center;
}
.column2{

    float: left;
    width: 33.33%;
    height: 300px;
    text-align: center;
}
.col7{
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
}
.col8{
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
}
.col9{
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
}
.section4{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    height: 100px;
    margin-top: 780px;

}
.prefooter{
    text-align: center;
    font-size: 40px;
    color: white;
    background-color: red;
    font-family: 'Roboto', sans-serif;
    padding: 30px 20px;
    margin-top: 0px;

}
.pf_text{
    text-align: center;
    font-size: 25px;
    color: white;
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
}
.button7{
    color: white;
    background-color: maroon;
    border:5px  black;
    text-align: center;
    font-size: 20px;
    padding: 8px 10px;
    margin-top: 30px;
}
.footer1{
    background-color: black;
    font-size: 28px;
    color: white;
    text-align: left;
    padding: 25px 20px;
    width: 50%;
    position: absolute;
    height: 478px;
}
.footer1 h3{
    background-color: black;
    font-size: 35px;
    color: white;
    text-align: left;
    padding: 10px 20px;
    margin-top: 10px;
}
.footer2{
    background-color: black;
    font-size: 10px;
    color: white;
    text-align: center;
    padding: 27px 20px;
    width: 25%;
    position: relative;
    float: right;
    margin-right: 380px;
    padding-top: -50px;
}
.footer2 h3{
    background-color: black;
    font-size: 20px;
    color: white;
    text-align: left;
    padding: 10px 20px;
}
.footer3{
    background-color: black;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 50px 23px;
    width: 25%;
    position: relative;
    float: right;
    margin-right: -750px;
    margin-top: 0px;
    height: 478px;
}
.footer3 h3{
    background-color: black;
    font-size: 20px;
    color: white;
    text-align: left;
    height: 193px;
    margin-top: 10px;


}
.placeholder_top{
    background-color: yellowgreen;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    font-weight: bolder;
    padding-top: -30px;
    padding-left: 250px;
}
.placeholder_top h2{
    color: white;
    font-size: 30px;
    text-align: left;
}
.placeholder_top h3{
    color: black;
    font-size: 25px;
    text-align: left;
}
.placeholder_top h4{
    color: black;
    font-weight: bold;
    font-size: 25px;
    text-align: left;
    margin-left: -5px;
}
.placeholder_image{
    float: right;
    margin-top: -150px;
    width: 330px;
    height: 150px;
    margin-right: 340px;
}
.placeholder_button{
    color:white;
    background-color:red;
    padding: 12px 19px;
    margin-left: 180px;
    margin-top: 12px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    text-align: left;
    margin-left: -2px;
}
.placeholder_main1{
    border-color: black;
    background-color: white;
    margin-top: 50px;
    padding: 90px;
    margin-left: 140px;
    margin-right: 150px;
    border-color: black;
    border-style: solid;
    margin-bottom: 70px;

}
.placeholder_img{
    float: left;
    width: 210px;
    height: 210px;
    margin-top: -80px;
    margin-right: 40px;
}
.placeholder_main1 p{
    color: black;
    text-align: center;
    font-size: 25px;
    padding-right: 300px;
    text-align: left;
    margin-top: -50px;
    float:left;

}
.name_foundation{
    color: grey;
    font-size: 20px;
    text-align: left;
    margin-top: -70px;
    display: inline-flex;
    font-weight: bolder;

}
.placeholder_list{
    display: inline-flex;
    list-style: none;
    font-size: 25px;
    text-align: center;
    float: left;
    margin-left: -55px;
    margin-top: -60px;
}
li{
    padding: 13px;
}
.placeholder_list2{
    display: inline-flex;
    list-style: none;
    font-size: 25px;
    text-align: center;
    float: left;
    margin-left: -55px;
    margin-top: -60px;

}
.placeholder_main2{
    border-color: black;
    background-color: white;
    margin-top: 50px;
    padding: 90px;
    margin-left: 140px;
    margin-right: 150px;
    border-color: black;
    border-style: solid;
    margin-bottom: 70px;
}
.placeholder_main2 p{
    color: black;
    text-align: center;
    font-size: 25px;
    padding-right: 300px;
    text-align: left;
    margin-top: -50px;
    float:left;
}
.placeholder_main3{
    border-color: black;
    background-color: white;
    margin-top: 50px;
    padding: 90px;
    margin-left: 140px;
    margin-right: 150px;
    border-color: black;
    border-style: solid;
    margin-bottom: 70px;
}
.placeholder_main3 p{
    color: black;
    text-align: center;
    font-size: 25px;
    padding-right: 300px;
    text-align: left;
    margin-top: -50px;
    float:left;
}
.placeholder_list3{
    display: inline-flex;
    list-style: none;
    font-size: 25px;
    text-align: center;
    float: left;
    margin-left: -55px;
    margin-top: -60px;

}
.Details{
    float: right;
    color:white;
    padding: 12px 19px;
    display: inline-block;
    text-align: center;
    margin-left: 180px;
    margin-top: 12px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    margin-top: -30px;
    margin-right: -20px;
}
.events_image{
    float: left;
    height: 250px;
    width: 250px;
    margin-top: 15px;
    margin-left: 240px;
    border-style: solid;
    border-color: black;

}
.events{
    background-color: grey;
    color: maroon;
    font-size: 25px;
    padding: 10px;
    text-align: center;
    height: 330px;
}
.events h2{
    color:maroon;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    text-align: center;
    margin-right: 350px;
    margin-top: 30px
    
}
.events h3{
    color: black;
    font-size: 30px;
    text-align: center;
    margin-right: 555px;
    margin-top: -30px;
}
.events h4{
    color: maroon;
    font-size: 25px;
    text-align: center;
    margin-top: -20px;
    margin-right: 215px;
}
.events_button1{
    color:white;
    background-color:red;
    padding: 12px 19px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    text-align: center;
    margin-top: -110px;
    margin-left: 618px;
    float: left;
}
.events_placeholder1{
    width: 25%;
    float: left;
    border-style: solid;
    border-color: black;
    margin-left: 330px;
    height: 550px;
    margin-top: 40px;
}
.events_placeholder2{
    width: 25%;
    display: inline-flex;
    border-style: solid;
    border-color: black;
    margin-top: 13px;
    height: 550px;
    margin-top: 53px;
}
.event_place_img1{
    padding-left: 50px;
    width: 370px;
    height: 300px;
    margin-top: 20px;
    margin-left: -25px;
}
.event_place_img2{
    padding-left: 50px;
    width: 340px;
    height: 300px;
}
.events_placeholder1 h4{
    font-size: 20px;
    color: black;
    margin-top: 15px;
    margin-left: -105px;
}
.events_placeholder2 h4{
    font-size: 20px;
    color: black;
    margin-top: 339px;
    margin-left: -320px;
}
.events_placeholder1 h3{
    color: maroon;
    font-size: 25px;
    margin-left: -45px;
    margin-top: -100px;
}
.events_placeholder2 h3{
    color: maroon;
    font-size: 25px;
    margin-top: 430px;
    margin-left: -217px;
    margin-top: 385px;
}
.events_placeholder1 h2{
    color: black;
    font-size: 18px;
    margin-left: -160px;
    margin-top: -10px;
}
.events_placeholder2 h2{
    color: black;
    font-size: 18px;
    margin-top: 445px;
    margin-left: -285px;
}
.events_placeholder1 a{
    text-decoration: none;
    color: maroon;
    font-size: 20px;
    margin-left: 220px;
}
.events_placeholder2 a{
    text-decoration: none;
    color: maroon;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 500px;
}
.event_button3{
    color:white;
    background-color:red;
    padding: 20px 500px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    text-align: center;
    margin-top: 70px;
    margin-left: 180px;
}
.dash_head{
    background-color: bisque;
    color: black;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 70px;
    font-size: 30px;
}
.dash1 img{
    height: 200px;
    width: 220px;

    margin-top: -70px;
    margin-left: -29px;
}
.dash1{
    width: 25%;
    border-style: solid;
    border-color: black;
    padding: 100px;
    position: absolute;
    text-align: center;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight: bold;
    padding-bottom: -180px;
}
.dash2 img{
    height: 200px;
    width: 250px;

    margin-top: -70px;
    margin-left: -29px;
}
.dash2{
    width: 25%;
    border-style: solid;
    border-color: black;
    padding: 100px;
    margin-left: 765.5px;
    text-align: center;
    font-size: 21px;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight: bold;
}
.dash3 img{
    height: 200px;
    width: 250px;

    margin-top: -70px;
    margin-left: -29px;
}
.dash3{
    width: 25%;
    border-style: solid;
    border-color: black;
    padding: 100px;
    margin-left: 385px;
    margin-top: -465px;
    text-align: center;
    font-size: 21px;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight: bold;
}
.dash4 img{
    height: 200px;
    width: 250px;

    margin-top: -70px;
    margin-left: -29px;
}
.dash4{
    width: 25%;
    border-style: solid;
    border-color: black;
    padding: 100px;
    margin-left: 1147px;
    margin-top: -465.5px;
    text-align: center;
    font-size: 21px;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight: bold;
}
.dash-button1{
    color:white;
    background-color:red;
    padding: 12px 19px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    text-align: center;
}
.dash-button2{
    color:white;
    background-color:red;
    padding: 12px 19px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    text-align: center;
}
.dash-button3{
    color:white;
    background-color:red;
    padding: 12px 19px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    text-align: center;
}
.dash-button4{
    color:white;
    background-color:red;
    padding: 12px 19px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    text-align: center;
}
.background-top{
    background-color: lightgreen;
    padding: 100px 80px;
}
.background-top img{
    margin-bottom: -190px;
    width: 210px;
    height: 190px;
    margin-left: 50px;
    border-radius: 7px;
}
.Name{
    margin-left: 130px;

}
.Name h2{
    color: black;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}
.Name h3{
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}
.About{
    text-align: left;
    margin-left: 130px;
}
.About h2{
    color: black;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}
.About_details{
    padding: 90px 90px;
    border-style: solid;
    border-color: black;
    margin-left: 120px;
    margin-right: 155px;
}
.Volunteering_details h2{
    color: black;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}
.Volunteering_details{
    margin-left: 130px;
}
.Recommender{
    margin-left: 130px;

}
.Recommender h2{
    color: black;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}
.Rec-details{
    padding: 90px 90px;
    border-style: solid;
    border-color: black;
    margin-left: 120px;
    margin-right: 155px;
}
.rec-pic2{
    margin-left: 100px;
}
.rec-pic3{
    margin-left: 100px;
}
.rec-pic4{
    margin-left: 50px;
}
