

.forum-heading{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  padding: 0;
  border: 0px;
  background-color: #ffffff;
  
  

}
.forum-header{
  font: 3em sans-serif ;
  font-weight: bold;
  white-space: none;
  margin-bottom: -6px;
}

.sub-header{
  font-size: 20px;
  font-family: sans-serif;
}

.main-forum-container{
  margin: 0;
  display: flex;
}


.row{
  display: flex;
  padding-left: 15%;
  padding-right: 15%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap ;
  

}



 /* Three columns side by side */
 .column {
  flex: 25%;
  max-width: 35%;
  padding: 0 4px;
}

.column-1{
    flex: 50%;
    max-width: 50%;
    margin-top: 10px;
    padding: 0 4px;

}


/* Responsive layout - tablet mode requires a little work around or else you could just use the mobile layout for it */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
    margin-top: 10px;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

.first-line{
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0px;
  size: 20px;
}

/* Gray */
.default {
  border-color: transparent;
  color: black;
  background-color: white;

}

.default:hover {
  color: blue;
}


/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
} 

/* so this the new post section */

.row-2{
  display: flex;
  padding-left: 27%;
  padding-right: 27%;
  justify-content: center;

}

@media screen and (max-width: 600px) {
   .row-2 ,.column {
    flex: 100%;
    max-width: 100%;
    margin-top: 10px;
  }
}


.chip {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  font-size: 12px;
  margin-top: 0px;
  border-radius: 25px;
  
}

.chip img {
  float: left;
  margin: 0 5px 0 -25px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

