*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
}
header{
    background-color:grey;
}
h1{
    padding-bottom: 150px;
    font-size: 45px;
    float: none;
    
}
.container{
    margin-bottom: 30px;
}
a,a:visited, a:link{
    text-decoration: none;
    color:black;
}
h2{
    text-align: center;
    font-weight: lighter;
    margin-top: 20px;
}
#body{
    background-color: lightgray;
    text-align: center;
    color: black;
    font-size: 25px;
    font-weight: bolder;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 45px;
}
span{
    font-weight: lighter;
    font-size: 20px;
}
ul{
    list-style: none;
    height: 100px;
    float: none;
}
@media (max-width:768px){
    #nav-list{
        text-align: center;
        height: 220px;
        padding-bottom: 20px;
        color: black;
    }
    h1{
        font-weight: lighter;
        padding-left: 10px;
        
    }
    .navbar-header{
        height: 100px;
    }
    hr.new1{
        border-top: 2px solid black;
    }
    hr.new2{
        border-top: 3px solid black;
    }
    #collapsable-nav{
        margin-bottom: -30px;
        height: 270px;
        border: 2px solid black;
        background-color: grey;
    }
    a:visited,a:link{
        color: black;
    }


}
@media (min-width:768px){
    #nav-list{
        display: none;
    }
    h1{
        float:right;
    }
    .navbar-header{
        height: 100px;
    }
    .container{
        margin-bottom: 20px;
    }
}